{% extends 'base.html' %}

{% block content %}
  <h2>Settings</h2>

  <h3>Instagram</h3>
  {% if github_login %}
    <p>Connected as <a href="https://www.instagram.com/{{ instagram_login.extra_data.login }}/" target="_blank">{{ instagram_login.extra_data.login }}</a></p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'instagram' %}">
        {% csrf_token %}
        <button type="submit">Disconnect from Instagram</button>
      </form>
    {% else %}
      <button type="button" disabled>Disconnect from Instagram</button>
      <p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for your account before disconnecting from Instagram.</p>
    {% endif %}
  {% else %}
    <a href="{% url 'social:begin' 'instagram' %}">Connect to Instagram</a>
  {% endif %}


{% endblock %}